<% provide(:title, 'ihover Demo') %>

<% content_for :library do %>
  <!-- ihover -->
  <%= stylesheet_link_tag "ihover/ihover.min.css" %>
<% end %>

<div class="container">
  <div class="ihoverView">
    
    <div class="row">
      <div class="col-sm-6">
        <!-- normal -->
        <div class="ih-item circle effect1">
          <a href="#">
            <div class="spinner"></div>
            <div class="img">
              <img src="<%= asset_path 'common/ihoverImg/assets/1.jpg' %>" alt="img" />
            </div>
            <div class="info">
              <div class="info-back">
                <h3>Heading here</h3>
                <p>Description goes here</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-6">
        <!-- colored -->
        <div class="ih-item circle colored effect1">
          <a href="#">
            <div class="spinner"></div>
            <div class="img">
              <img src="<%= asset_path 'common/ihoverImg/assets/2.jpg' %>" alt="img" />
            </div>
            <div class="info">
              <div class="info-back">
                <h3>Heading here</h3>
                <p>Description goes here</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :scripts do %>
<script type="text/javascript">
  $(document).ready(function(){
    $('.bxslider').bxSlider();
  });
</script>
<% end %>